<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../template.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:define name="content">


        <h:form id="usuario_index">
            <p:growl autoUpdate="true"  />
            <p:panel header="#{msg.actividadesAsignadas}" closeSpeed="1000"  >
                <h:panelGrid style="margin: 5px" columns="6">
                    <p:outputLabel for="desde" value="#{msg.fecha_inicio} " />
                    <p:calendar id="desde" value="#{sessionBacking.desde}" />
                    <p:outputLabel for="hasta" value=" #{msg.fecha_fin} " />
                    <p:calendar id="hasta" value="#{sessionBacking.hasta}"/>
                    <p:commandButton value="#{msg.buscar}" action="#{sessionBacking.filtrarActividades()}" update="actividades verTodas" style="text-align: center" icon="ui-icon-search"/>
                    <p:commandButton id="verTodas" value="#{msg.verTodas}" disabled="#{sessionBacking.estadoBotonTodas}" action="#{sessionBacking.verTodas()}" update="actividades verTodas desde hasta" style="text-align: center" icon="ui-icon-search"/>
                </h:panelGrid>
                

                <p:dataTable id="actividades" var="actividad"   
                             value="#{sessionBacking.listaDelUsuario}"  emptyMessage="#{msg.sinActividades}">

                    <p:column headerText="#{msg.fecha_inicio}" style=" width: 200px">
                        <h:outputText value="#{actividad.fecha_inicio}" >
                            <f:convertDateTime pattern="dd/MM/yyyy" type="date" />
                        </h:outputText>
                    </p:column>
                    <p:column headerText="#{msg.fecha_fin}" style=" width: 200px">
                        <h:outputText value="#{actividad.fecha_fin}" >
                            <f:convertDateTime pattern="dd/MM/yyyy" type="date" />
                        </h:outputText>
                    </p:column>
                    <p:column headerText="#{msg.actividad}" style=" width: 200px">
                        <h:outputText value="#{actividad.nombre}" />
                    </p:column>
                    <p:column headerText="#{msg.peso}" style=" width: 200px">
                        <h:outputText value="#{actividad.peso}" />
                    </p:column>
                </p:dataTable>
            </p:panel>
        </h:form>
    </ui:define>    
</ui:composition>