<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../../template.xhtml/"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:define name="content">


        <h:form id="compuesta_new" >
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p:panel class="panel-auto" style="margin-top:0px" header="#{msg.nuevaActCompuesta}" >
                            <h:panelGrid columns="6" cellpadding="1" >
                                <p:outputLabel for="nombre" value="#{msg.nombre}:" />
                                <p:inputText id="nombre" value="#{actividadCompuestaBacking.actividadCompuesta.nombre}" 
                                             required="true" 
                                             requiredMessage="#{msg.camporequerido}"/> 
                                <p:outputLabel for="fecha_inicio" value="#{msg.fecha_inicio}:" />
                                <p:calendar id="fecha_inicio" value="#{actividadCompuestaBacking.actividadCompuesta.fecha_inicio}" required="true" 
                                            requiredMessage="#{msg.camporequerido}" />
                                <p:outputLabel for="fecha_fin" value="#{msg.fecha_fin}:" />
                                <p:calendar id="fecha_fin" value="#{actividadCompuestaBacking.actividadCompuesta.fecha_fin}" required="true" 
                                            requiredMessage="#{msg.camporequerido}" />

                                <p:outputLabel for="resolucion" value="#{msg.resolucion}:" />
                                <p:inputText id="resolucion" value="#{actividadCompuestaBacking.actividadCompuesta.resolucion}" 
                                             required="true" 
                                             requiredMessage="#{msg.camporequerido}"/> 
                                <p:outputLabel for="expediente" value="#{msg.expediente}:" />
                                <p:inputText id="expediente" value="#{actividadCompuestaBacking.actividadCompuesta.expediente}" 
                                             required="true" 
                                             requiredMessage="#{msg.camporequerido}"/> 
                            </h:panelGrid>

                            <h:panelGrid columns="6" cellpadding="2" >
                                <p:outputLabel for="convocatoria" value="#{msg.convocatoria}:" />
                                <p:selectOneMenu id="convocatoria" value="#{actividadCompuestaBacking.actividadCompuesta.convocatoria}" converter="convocatoriaConverter" filter="true"  required="true" 
                                                 requiredMessage="#{msg.camporequerido}" >
                                    <f:selectItem itemLabel="#{msg.elegir}" itemValue="#{null}" noSelectionOption="true"></f:selectItem>
                                    <f:selectItems value="#{actividadCompuestaBacking.listaDeConvocatorias()}" var="convocatorias" itemLabel="#{convocatorias.nombre}" itemValue="#{convocatorias}" />
                                </p:selectOneMenu>

                                <p:outputLabel for="lineaEstrategia" value="#{msg.LineaEstrategia}:" />
                                <p:selectOneMenu id="lineaEstrategia" value="#{actividadCompuestaBacking.actividadCompuesta.lineaEstrategia}" converter="lineaDeEstrategiaConverter" filter="true"  required="true" 
                                                 requiredMessage="#{msg.camporequerido}" >
                                    <f:selectItem itemLabel="#{msg.elegir}" itemValue="#{null}" noSelectionOption="true"></f:selectItem>
                                    <f:selectItems value="#{actividadCompuestaBacking.listaDeEstrategias()}" var="estrategias" itemLabel="#{estrategias.nombre}" itemValue="#{estrategias}" />
                                </p:selectOneMenu>

                                <p:outputLabel for="ambito" value="#{msg.ambitoEjecucion}:" />
                                <p:selectOneMenu id="ambito" value="#{actividadCompuestaBacking.actividadCompuesta.ambitoDeEjecucion}" converter="ambitoDeEjecucionConverter" filter="true"  required="true" 
                                                 requiredMessage="#{msg.camporequerido}" >
                                    <f:selectItem itemLabel="#{msg.elegir}" itemValue="#{null}" noSelectionOption="true"></f:selectItem>
                                    <f:selectItems value="#{actividadCompuestaBacking.listaDeAmbitos()}" var="ambitos" itemLabel="#{ambitos.nombre}" itemValue="#{ambitos}" />
                                </p:selectOneMenu>
                            </h:panelGrid>
                            <p:separator />
                            <h:panelGrid columns="6" cellpadding="2" >

                               
                                <p:outputLabel for="actividad" value="#{msg.actividad}:" />
                                <p:selectOneMenu id="actividad" value="#{actividadCompuestaBacking.actividad}" converter="actividadConverter" filter="true"  required="true" 
                                                 requiredMessage="#{msg.camporequerido}" >
                                    <f:selectItem itemLabel="#{msg.elegir}" itemValue="#{null}" noSelectionOption="true"></f:selectItem>
                                    <f:selectItems value="#{actividadCompuestaBacking.listaDeActividadesSinPadre()}" var="actividad" itemLabel="#{actividad.nombre}" itemValue="#{actividad}" />
                                </p:selectOneMenu>
                                <p:commandButton value="#{msg.ingresar}" update="tabla actividad deshacer" action="#{actividadCompuestaBacking.insertarActividad()}" icon="ui-icon-arrowreturnthick-1-e" >

                                </p:commandButton>
                                <p:commandButton id="deshacer" value="#{msg.deshacer}" disabled="#{actividadCompuestaBacking.actividadesVacio()}" update="deshacer tabla" action="#{actividadCompuestaBacking.deshacer()}" icon="ui-icon-arrowreturnthick-1-w" />


                            </h:panelGrid>

                            <h:panelGrid id="tabla" columns="1" cellpadding="2"  >
                                <p:dataTable scrollRows="20" scrollable="true" virtualScroll="true" scrollHeight="200" lazy="true" rows="8"  style="min-height: 200px; min-width: 750px;"  var="actividad" value="#{actividadCompuestaBacking.actividadCompuesta.actividades}" emptyMessage="#{msg.sinActividades}">
                                    <p:column headerText="#{msg.actividad}">
                                        <h:outputText value="#{actividad.nombre}" />
                                    </p:column>
                                    <p:column headerText="#{msg.peso}">
                                        <h:outputText value="#{actividad.peso}" />
                                    </p:column>


                                </p:dataTable>
                            </h:panelGrid>


                            <p:commandButton value="#{msg.borrar}" update="compuesta_new" action="#{actividadCompuestaBacking.borrar()}" icon="ui-icon-cancel" />
                            <p:commandButton value="#{msg.crear}" update="compuesta_new" action="#{actividadCompuestaBacking.create()}" icon="ui-icon-check" />




                        </p:panel>
                    </div>
                </div>
            </div>
        </h:form>
    </ui:define>    
</ui:composition>