<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../../template.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <f:metadata>
        <f:viewParam name="id" 
                     value="#{actividadSimpleBacking.actividadSimple}" 
                     converter="actividadSimpleConverter"/>
    </f:metadata>
    
    <ui:define name="content">


        <h:form id="simple_edit">
            <p:messages autoUpdate="true"/>
            
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p:panel class="panel-auto" style="margin-top:20px" header="#{msg.actualizarActividadSimple}" >
                            <h:panelGrid columns="6" cellpadding="5" >
                                <p:outputLabel for="nombre" value="#{msg.nombre}:" />
                                <p:inputText id="nombre" value="#{actividadSimpleBacking.actividadSimple.nombre}" /> 
                                <p:outputLabel for="fecha_inicio" value="#{msg.fecha_inicio}:" />
                                <p:calendar id="fecha_inicio" value="#{actividadSimpleBacking.actividadSimple.fecha_inicio}" />
                                <p:outputLabel for="fecha_fin" value="#{msg.fecha_fin}:" />
                                <p:calendar id="fecha_fin" value="#{actividadSimpleBacking.actividadSimple.fecha_fin}"  />

                                <p:outputLabel for="resolucion" value="#{msg.resolucion}:" />
                                <p:inputText id="resolucion" value="#{actividadSimpleBacking.actividadSimple.resolucion}"/> 

                                <p:outputLabel for="expediente" value="#{msg.expediente}:" />
                                <p:inputText id="expediente" value="#{actividadSimpleBacking.actividadSimple.expediente}" />

                            </h:panelGrid>

                            <h:panelGrid columns="6" cellpadding="5" >
                                <p:outputLabel for="convocatoria" value="#{msg.convocatoria}:" />
                                <p:selectOneMenu id="convocatoria" value="#{actividadSimpleBacking.actividadSimple.convocatoria}" converter="convocatoriaConverter" filter="true" >
                                    <f:selectItem itemLabel="#{msg.elegir}" itemValue="#{null}" noSelectionOption="true"></f:selectItem>
                                    <f:selectItems value="#{actividadSimpleBacking.listaDeConvocatorias()}" var="convocatorias" itemLabel="#{convocatorias.nombre}" itemValue="#{convocatorias}" />
                                </p:selectOneMenu>

                                <p:outputLabel for="lineaEstrategia" value="#{msg.LineaEstrategia}:" />
                                <p:selectOneMenu id="lineaEstrategia" value="#{actividadSimpleBacking.actividadSimple.lineaEstrategia}" converter="lineaDeEstrategiaConverter" filter="true">
                                    <f:selectItem itemLabel="#{msg.elegir}" itemValue="#{null}" noSelectionOption="true"></f:selectItem>
                                    <f:selectItems value="#{actividadSimpleBacking.listaDeEstrategias()}" var="estrategias" itemLabel="#{estrategias.nombre}" itemValue="#{estrategias}" />
                                </p:selectOneMenu>

                                <p:outputLabel for="ambito" value="#{msg.ambitoEjecucion}:" />
                                <p:selectOneMenu id="ambito" value="#{actividadSimpleBacking.actividadSimple.ambitoDeEjecucion}" converter="ambitoDeEjecucionConverter" filter="true">
                                    <f:selectItem itemLabel="#{msg.elegir}" itemValue="#{null}" noSelectionOption="true"></f:selectItem>
                                    <f:selectItems value="#{actividadSimpleBacking.listaDeAmbitos()}" var="ambitos" itemLabel="#{ambitos.nombre}" itemValue="#{ambitos}" />
                                </p:selectOneMenu>
                            </h:panelGrid>
                             <p:separator />
                             <h:panelGrid columns="5"  >
                                <p:outputLabel value="#{msg.objetivos}"></p:outputLabel>
                                <p:selectOneMenu value="#{actividadSimpleBacking.impactoObjetivo.ods}" converter="odsConverter">
                                    <f:selectItem itemLabel="#{msg.elegir}" itemValue="#{null}" noSelectionOption="true"></f:selectItem>
                                    <f:selectItems value="#{actividadSimpleBacking.objetivos}" 
                                                   var="objetivo" itemLabel="#{objetivo.nombre}"/>
                                </p:selectOneMenu>
                                <p:outputLabel value="Peso"></p:outputLabel>
                                <p:inputText value="#{actividadSimpleBacking.impactoObjetivo.peso}"/>
                                <p:commandButton value="Agregar impacto" 
                                                 actionListener="#{actividadSimpleBacking.insertarImpacto()}" 
                                                 update="actividad_impactos"/>
                            </h:panelGrid>
                             <p:separator />
                            <h:panelGrid id="tabla" columns="1" cellpadding="5"  >
                                <p:dataTable id="actividad_impactos" value="#{actividadSimpleBacking.actividadSimple.impactoObjetivo}" var="impacto">
                                    <p:column headerText="Objetivo">#{impacto.ods.nombre}</p:column>
                                    <p:column headerText="Peso">#{impacto.peso}</p:column>
                                    <p:column>
                                        <p:commandLink actionListener="#{actividadSimpleBacking.borrarImpacto(impacto)}" 
                                                       value="#{msg.eliminar}" update="actividad_impactos"/>
                                    </p:column>
                                </p:dataTable>
                                <p:commandButton value="#{msg.actualizar}" 
                                                 action="#{actividadSimpleBacking.update()}" 
                                                 update="simple_edit"/>

                                <p:button outcome="/actividad/simple/index" 
                                          value="#{msg.volver}"/>
                            </h:panelGrid>


                        </p:panel>
                    </div>
                </div>
            </div>
        </h:form>
    </ui:define>    
</ui:composition>