<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../../template.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:define name="content">
        <h:form id="simple_index">
 
            <p:dataTable var="actividad" 
                         value="#{actividadSimpleBacking.findAll()}"  emptyMessage="#{msg.nohayactividades}">

                <p:column headerText="#{msg.actividadessimples}" width="300">
                    <h:outputText value="#{actividad.nombre}" />
                </p:column>
                <p:column headerText="#{msg.fecha_inicio}">
                    <h:outputText value="#{actividad.fecha_inicio}" >
                        <f:convertDateTime pattern="dd/MM" type="date" />
                    </h:outputText>
                </p:column>
                <p:column headerText="#{msg.fecha_fin}">
                    <h:outputText value="#{actividad.fecha_fin}" >
                        <f:convertDateTime pattern="dd/MM" type="date" />
                    </h:outputText>
                </p:column>
                <p:column headerText="#{msg.peso}">
                    <h:outputText value="#{actividad.peso}" />
                </p:column>
                <p:column headerText="#{msg.acciones}" width="200">
                    <p:button value="#{msg.editar}" 
                              outcome="edit.xhtml">
                        <f:param name="id"
                                 value="#{actividad.id}"/>
                    </p:button>
                    

                    <p:commandButton value="#{msg.eliminar}" 
                                     action="#{actividadSimpleBacking.delete(actividad)}">
                    </p:commandButton>

                </p:column>

            </p:dataTable>
        </h:form>
    </ui:define>    
</ui:composition>

