<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../../template.xhtml/"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:define name="content">


        <h:form id="simple_new" >
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p:panel class="panel-auto" style="margin-top:0px; margin-bottom: 0px" header="#{msg.nuevaActSimple}" >
                            <h:panelGrid columns="6" cellpadding="1" style="margin-top:0px; margin-bottom: 0px" >
                                <p:outputLabel for="nombre" value="#{msg.nombre}:" />
                                <p:inputText id="nombre" value="#{actividadSimpleBacking.actividadSimple.nombre}" 
                                             required="true" 
                                             requiredMessage="#{msg.camporequerido}"/> 
                                <p:outputLabel for="fecha_inicio" value="#{msg.fecha_inicio}:" />
                                <p:calendar id="fecha_inicio" value="#{actividadSimpleBacking.actividadSimple.fecha_inicio}" required="true" 
                                            requiredMessage="#{msg.camporequerido}" />
                                <p:outputLabel for="fecha_fin" value="#{msg.fecha_fin}:" />
                                <p:calendar id="fecha_fin" value="#{actividadSimpleBacking.actividadSimple.fecha_fin}" required="true" 
                                            requiredMessage="#{msg.camporequerido}" />

                                <p:outputLabel for="resolucion" value="#{msg.resolucion}:" />
                                <p:inputText id="resolucion" value="#{actividadSimpleBacking.actividadSimple.resolucion}" 
                                             required="true" 
                                             requiredMessage="#{msg.camporequerido}"/> 
                                <p:outputLabel for="expediente" value="#{msg.expediente}:" />
                                <p:inputText id="expediente" value="#{actividadSimpleBacking.actividadSimple.expediente}" 
                                             required="true" 
                                             requiredMessage="#{msg.camporequerido}"/> 
                            </h:panelGrid>

                            <h:panelGrid columns="6" cellpadding="2" >
                                <p:outputLabel for="convocatoria" value="#{msg.convocatoria}:" />
                                <p:selectOneMenu id="convocatoria" value="#{actividadSimpleBacking.actividadSimple.convocatoria}" converter="convocatoriaConverter" filter="true"  required="true" 
                                                 requiredMessage="#{msg.camporequerido}" >
                                    <f:selectItem itemLabel="#{msg.elegir}" itemValue="#{null}" noSelectionOption="true"></f:selectItem>
                                    <f:selectItems value="#{actividadSimpleBacking.listaDeConvocatorias()}" var="convocatorias" itemLabel="#{convocatorias.nombre}" itemValue="#{convocatorias}" />
                                </p:selectOneMenu>

                                <p:outputLabel for="lineaEstrategia" value="#{msg.LineaEstrategia}:" />
                                <p:selectOneMenu id="lineaEstrategia" value="#{actividadSimpleBacking.actividadSimple.lineaEstrategia}" converter="lineaDeEstrategiaConverter" filter="true"  required="true" 
                                                 requiredMessage="#{msg.camporequerido}" >
                                    <f:selectItem itemLabel="#{msg.elegir}" itemValue="#{null}" noSelectionOption="true"></f:selectItem>
                                    <f:selectItems value="#{actividadSimpleBacking.listaDeEstrategias()}" var="estrategias" itemLabel="#{estrategias.nombre}" itemValue="#{estrategias}" />
                                </p:selectOneMenu>

                                <p:outputLabel for="ambito" value="#{msg.ambitoEjecucion}:" />
                                <p:selectOneMenu id="ambito" value="#{actividadSimpleBacking.actividadSimple.ambitoDeEjecucion}" converter="ambitoDeEjecucionConverter" filter="true"  required="true" 
                                                 requiredMessage="#{msg.camporequerido}" >
                                    <f:selectItem itemLabel="#{msg.elegir}" itemValue="#{null}" noSelectionOption="true"></f:selectItem>
                                    <f:selectItems value="#{actividadSimpleBacking.listaDeAmbitos()}" var="ambitos" itemLabel="#{ambitos.nombre}" itemValue="#{ambitos}" />
                                </p:selectOneMenu>
                                </h:panelGrid>
                                <p:separator />
                                <h:panelGrid columns="6" cellpadding="2" >
                                <p:outputLabel for="objetivo" value="#{msg.objetivo}:" />
                                <p:selectOneMenu id="objetivo" value="#{actividadSimpleBacking.impactoObjetivo.ods}" converter="odsConverter" filter="true"  >
                                                
                                    <f:selectItem itemLabel="#{msg.elegir}" itemValue="#{null}" noSelectionOption="true"></f:selectItem>
                                    <f:selectItems value="#{actividadSimpleBacking.listaDeObjetivos()}" var="objetivo" itemLabel="#{objetivo.nombre}" itemValue="#{objetivo}" />
                                </p:selectOneMenu>

                                <p:outputLabel for="peso" value="#{msg.peso}:" />
                                <p:inputText id="peso" value="#{actividadSimpleBacking.impactoObjetivo.peso}"  /> 

                                <p:commandButton value="#{msg.ingresar}" update="tabla objetivo peso deshacer" action="#{actividadSimpleBacking.insertarImpacto()}" icon="ui-icon-arrowreturnthick-1-e" >

                                </p:commandButton>
                                <p:commandButton id="deshacer" value="#{msg.deshacer}" disabled="#{actividadSimpleBacking.impactosVacio()}" update="deshacer tabla" action="#{actividadSimpleBacking.deshacer()}" icon="ui-icon-arrowreturnthick-1-w" />


                            </h:panelGrid>

                                <h:panelGrid id="tabla" columns="1" cellpadding="5"  >
                                    <p:dataTable scrollRows="20" scrollable="true" virtualScroll="true" scrollHeight="200" lazy="true" rows="8"  style="min-height: 200px; min-width: 750px;"  var="impacto" value="#{actividadSimpleBacking.actividadSimple.impactoObjetivo}" emptyMessage="#{msg.sinObjetivos}">
                                    <p:column headerText="#{msg.objetivo}">
                                        <h:outputText value="#{impacto.ods.nombre}" />
                                    </p:column>

                                    <p:column headerText="#{msg.peso}">
                                        <h:outputText value="#{impacto.peso}" />
                                    </p:column>
                                   
                                </p:dataTable>
                            </h:panelGrid>


                            <p:commandButton value="#{msg.borrar}" update="simple_new" action="#{actividadSimpleBacking.borrar()}" icon="ui-icon-cancel" />
                            <p:commandButton value="#{msg.crear}" update="simple_new" action="#{actividadSimpleBacking.create()}" icon="ui-icon-check" />
                



                        </p:panel>
                    </div>
                </div>
            </div>
        </h:form>
    </ui:define>    
</ui:composition>