<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../template.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:define name="content">
<style type="text/css">
    .ui-datalist .ui-datalist-content {
        border:0 none
    }
     
    .ui-datalist ul {
        padding:0px 10px 0 20px;
        margin: 5px 0;
    }
     
    .label, .value {
        vertical-align: top
    }
 
    .output {
        font-weight: bold
    }
     
    .ui-selectmanymenu {
        width: 175px;
    }
</style>

        <h:form id="usuario_asignar">
            <p:messages autoUpdate="true"/>
            <f:metadata>
                <f:viewParam name="id" 
                             value="#{usuariosBacking.usuario}" 
                             converter="usuarioConverter"/>
            </f:metadata>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p:panel class="panel-auto" style="margin-top:0px" header="#{msg.asignarAct}" >
                            <p:outputLabel value="#{usuariosBacking.usuario.mail}"/>
                          <h:panelGrid columns="6" cellpadding="2" >

                               
                                <p:outputLabel for="actividad" value="#{msg.actividad}:" />
                                <p:selectOneMenu id="actividad" value="#{usuariosBacking.actividad}" converter="actividadConverter" filter="true"  required="true" 
                                                 requiredMessage="#{msg.camporequerido}" >
                                    <f:selectItem itemLabel="#{msg.elegir}" itemValue="#{null}" noSelectionOption="true"></f:selectItem>
                                    <f:selectItems value="#{usuariosBacking.listaDeActividades()}" var="actividad" itemLabel="#{actividad.nombre}" itemValue="#{actividad}" />
                                </p:selectOneMenu>
                                <p:commandButton value="#{msg.ingresar}" update="tabla actividad deshacer" action="#{usuariosBacking.insertarActividad()}" icon="ui-icon-arrowreturnthick-1-e" >

                                </p:commandButton>
                                <p:commandButton id="deshacer" value="#{msg.deshacer}" disabled="#{usuariosBacking.actividadesVacio()}" update="deshacer tabla" action="#{usuariosBacking.deshacer()}" icon="ui-icon-arrowreturnthick-1-w" />


                            </h:panelGrid>

                            <h:panelGrid id="tabla" columns="1" cellpadding="2"  >
                                <p:dataTable scrollRows="20" scrollable="true" virtualScroll="true" scrollHeight="200" lazy="true" rows="8" var="actividad" value="#{usuariosBacking.usuario.actividades}" emptyMessage="#{msg.sinActividades}">
                                    <p:column headerText="#{msg.actividad}">
                                        <h:outputText value="#{actividad.nombre}" />
                                    </p:column>
                                    <p:column headerText="#{msg.peso}">
                                        <h:outputText value="#{actividad.peso}" />
                                    </p:column>


                                </p:dataTable>
                            </h:panelGrid>
                            <p:commandButton value="#{msg.crear}"  action="#{usuariosBacking.update()}" icon="ui-icon-check" />
</p:panel>
          </div>
                </div>
            </div>
        </h:form>
    </ui:define>    
</ui:composition>