<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../template.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:define name="content">


        <h:form id="usuario_index">
            <p:dataTable var="usuarios" 
                         value="#{usuariosBacking.findAll()}"  emptyMessage="#{msg.noHayUsuarios}">

                <p:column headerText="#{msg.mail}" style=" width: 200px">
                    <h:outputText value="#{usuarios.mail}" />
                </p:column>
                <p:column headerText="#{msg.administrador}" style=" width: 200px">
                    <h:outputText value="#{usuarios.administrador}" />
                </p:column>
                <p:column headerText="#{msg.acciones}" >
                    <p:button value="#{msg.asignarAct}" 
                              outcome="asignarActividades.xhtml">
                        <f:param name="id"
                                 value="#{usuarios.id}"/>
                    </p:button>
                    <p:button value="#{msg.editar}" 
                              outcome="edit.xhtml">
                        <f:param name="id"
                                 value="#{usuarios.id}"/>
                    </p:button>

                    <p:commandButton value="#{msg.eliminar}" 
                                     action="#{usuariosBacking.delete(usuarios)}">
                    </p:commandButton>

                </p:column>

            </p:dataTable>
        </h:form>
    </ui:define>    
</ui:composition>