<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../template.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:define name="content">


        <h:form id="usuario_index">
            <p:growl autoUpdate="true"/>
            <p:dataTable var="actividades" 
                         value="#{usuariosBacking.todasLasActividades()}"  emptyMessage="#{msg.nohayactividades}">
                <p:column headerText="#{msg.fecha_inicio}" style=" width: 60px">
                        <h:outputText value="#{actividades.fecha_inicio}" >
                         <f:convertDateTime pattern ="dd/mm/yyyy"/>
                        </h:outputText>
                </p:column>
                <p:column headerText="#{msg.fecha_fin}" style=" width: 60px">
                    <h:outputText value="#{actividades.fecha_fin}" >
                        <f:convertDateTime pattern ="dd/mm/yyyy"/>
                    </h:outputText>
                          
                       
                </p:column>
                <p:column headerText="#{msg.actividad}" style=" width: 200px">
                    <h:outputText value="#{actividades.nombre}" />
                </p:column>
                <p:column headerText="#{msg.resolucion}" style=" width: 200px">
                    <h:outputText value="#{actividades.resolucion}" />
                </p:column>
                <p:column headerText="#{msg.expediente}" style=" width: 200px">
                    <h:outputText value="#{actividades.expediente}" />
                </p:column>

            </p:dataTable>
        </h:form>
    </ui:define>    
</ui:composition>