<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../template.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:define name="content">


        <h:form id="usuario_index">
            <p:growl autoUpdate="true"/>
            <p:dataTable var="obj" 
                         value="#{objetivosBacking.lista()}" emptyMessage="#{msg.nohayobjetivos}">
                <p:column headerText="#{msg.objetivo}" style=" width: 160px">
                    <h:outputText value="#{obj.nombre}" />
                       
                </p:column>
                <p:column headerText="#{msg.pesoTotal}" style=" width: 60px">
                    <h:outputText value="#{obj.pesoTotal}" />         
                </p:column>
                <p:column headerText="#{msg.porcentaje}" style=" width: 30px">
                    <h:outputText value="#{obj.porcentaje(objetivosBacking.total, obj.pesoTotal)}">
                        <f:convertNumber pattern="00.00" /> 
                    </h:outputText> 
                        
                </p:column>

            </p:dataTable>
        </h:form>
    </ui:define>    
</ui:composition>