<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../template.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:define name="content">

    
    <h:form id="objetivo_edit">
         <p:messages autoUpdate="true"/>
            <f:metadata>
                <f:viewParam name="id" 
                             value="#{objetivosBacking.ods}" 
                             converter="odsConverter"/>
            </f:metadata>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p:panelGrid class="panel-auto" style="margin-top:20px">

                            <f:facet name="header">
                                <p:row>
                                    <p:column colspan="12">#{msg.actualizarObjetivo}</p:column>
                                </p:row>
                            </f:facet>

                            <p:row>
                                <p:column colspan="3"> #{msg.nombre}: </p:column>
                                <p:column colspan="9">
                                    <p:inputText value="#{objetivosBacking.ods.nombre}" 
                                                 required="true" 
                                                 requiredMessage="#{msg.camporequerido}"/> 
                                </p:column>
                            </p:row>

                            <p:row>
                                <p:column colspan="9"/>
                                <p:column colspan="3">
                                    <p:commandButton action="#{objetivosBacking.update()}"
                                                     value="#{msg.actualizar}"
                                                     ajax="false"/>

                                    <p:button outcome="/objetivos/index" 
                                              value="#{msg.volver}"/>
                                </p:column>
                            </p:row>



                        </p:panelGrid>
                    </div>
                </div>
            </div>
        </h:form>
  </ui:define>    
</ui:composition>