<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../template.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:define name="content">

    
        <h:form id="objetivo_index">
         
        <p:growl id="growl" sticky="true" showDetail="true"/>

                    <p:dataTable var="objetivos" 
                                 value="#{objetivosBacking.findAll()}"  emptyMessage="No hay objetivos creados">

                        <p:column headerText="#{msg.objetivos}">
                            <h:outputText value="#{objetivos.nombre}" />
                        </p:column>

                        <p:column headerText="#{msg.acciones}" width="200">
                            <p:button value="#{msg.editar}" 
                                      outcome="edit.xhtml">
                                <f:param name="id"
                                         value="#{objetivos.id}"/>
                            </p:button>

                            <p:commandButton value="#{msg.eliminar}" 
                                             action="#{objetivosBacking.delete(objetivos)}">
                            </p:commandButton>

                        </p:column>

                    </p:dataTable>
                </h:form>
  </ui:define>    
</ui:composition>