<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" >
        
    <h:head>
        <title> #{msg.login}</title>
          <h:outputStylesheet library="css" name="cssLayout.css"/>
        
    </h:head>
    <h:body id="Bimage">
   
            <h:form>
                <p:panel id="panel" header="#{msg.msgIngreseDatos}" style="width: 800px; margin-left: 20%" >
                    <p:growl id="messages" autoUpdate="true"/>
                    <p:panelGrid columns="3" layout="grid" style="align-content: stretch" >
                        <h:column >
                        <p:outputLabel value="#{msg.mail}" style="text-align-last: right"/>
                       
                        </h:column>
                        <h:column/>
                        <p:inputText id="email" value="#{sessionBacking.email}" required="true" >
                            <p:clientValidator />
                            <p:message for="email"/>
                        </p:inputText>


                        <p:outputLabel value="#{msg.password}" style="text-align: right"/>
                        <h:column/>
                        <p:password value="#{sessionBacking.password}" />
                        <h:column/>
                        <p:commandButton icon="ui-icon-key" value="#{msg.login}" action="#{sessionBacking.login()}" update="messages"/>
                    </p:panelGrid>
                </p:panel>
            </h:form>
       
                 
    </h:body>
</html>