<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>#{msg.ods}</title>
            </f:facet>
            <h:outputStylesheet library="css" name="cssLayout.css"/>
        </h:head>

        <h:body id="Banner">
            <h:form id="menu">
                <p:growl id="message" 
                         showDetail="true" 
                         sticky="true"
                         life="1000"
                         autoUpdate="true"/>  
           


                <p:layout fullPage="true" >

                    <p:layoutUnit position="north" size="120" resizable="false"  visible="true">
                        <p:row>
                                <p:graphicImage width="154" height="96" name="logo.jpg" />
                        </p:row>                      
                    </p:layoutUnit>

                   

                    <p:layoutUnit position="west" header="#{msg.menu}" minSize="200" collapsible="true" collapsed="false">
                        <p:panelMenu>
                            <p:submenu label="#{msg.administrador}" rendered="#{sessionBacking.usuario.administrador}">
                                <p:menuitem value="#{msg.listaObjetivos}" url="http://localhost:8080/ods/administrador/listaObjetivos.xhtml?faces-redirect=true"/>
                                <p:menuitem value="#{msg.listarActividades}" url="http://localhost:8080/ods/administrador/listaActividades.xhtml?faces-redirect=true"/>
                                <p:menuitem value="#{msg.listarUsuarios}" url="http://localhost:8080/ods/administrador/index.xhtml?faces-redirect=true"/>
                                <p:menuitem value="#{msg.nuevoUsuario}" url="http://localhost:8080/ods/administrador/new.xhtml?faces-redirect=true"  />


                            </p:submenu>
                            <p:submenu label="#{msg.objetivos}" rendered="#{sessionBacking.usuario.administrador}">
                                <p:menuitem value="#{msg.ver}" url="http://localhost:8080/ods/objetivos/index.xhtml?faces-redirect=true" />
                                <p:menuitem value="#{msg.crear}" url="http://localhost:8080/ods/objetivos/new.xhtml?faces-redirect=true"  />


                            </p:submenu>
                            <p:submenu label="#{msg.actividadessimples}" rendered="#{sessionBacking.usuario.administrador}">
                                <p:menuitem value="#{msg.ver}" url="http://localhost:8080/ods/actividad/simple/index.xhtml?faces-redirect=true" />
                                <p:menuitem value="#{msg.crear}" url="http://localhost:8080/ods/actividad/simple/new.xhtml?faces-redirect=true"  />


                            </p:submenu>
                            <p:submenu label="#{msg.actividadesCompuestas}" rendered="#{sessionBacking.usuario.administrador}">
                                <p:menuitem value="#{msg.ver}" url="http://localhost:8080/ods/actividad/compuesta/index.xhtml?faces-redirect=true" />
                                <p:menuitem value="#{msg.crear}" url="http://localhost:8080/ods/actividad/compuesta/new.xhtml?faces-redirect=true"  />


                            </p:submenu>
                            <p:submenu label="#{msg.usuario}">
                                <p:menuitem value="#{msg.misactividades}"  url="http://localhost:8080/ods/usuario/index.xhtml?faces-redirect=true"/>
                                <p:menuitem value="#{msg.cerrar}" action="#{sessionBacking.logout()}" />
                                
                            
                            </p:submenu>
                            
                        </p:panelMenu>
                        
                    </p:layoutUnit>

                    <p:layoutUnit position="center" id="Bimage" >
                        <h:panelGroup id="content" layout="block" styleClass="Bimage">
                            <ui:insert name="content"   >
                               
                            </ui:insert>
                        </h:panelGroup>
                    </p:layoutUnit>
                    
                    <p:layoutUnit position="south" size="21" resizable="false" style="text-align: right; font-size: 10px"   visible="true">
                      
                        <p:outputLabel value="Creado por Frias Diego Andrés para POO 2018 UNNOBA" />
                                           
                    </p:layoutUnit>

                </p:layout>
            </h:form>
        </h:body>

    </f:view>
</html>

